// ================================================================================================
// ./sass/mixins/borderRadius.scss
// Mixin: Border Radius
// ================================================================================================

@mixin border-radius($radius) {
  background-clip: padding-box;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}


/*
 * Single Side
 */

@mixin border-top-radius($radius) {
  background-clip: padding-box;

  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;

  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-right-radius($radius) {
  background-clip: padding-box;

  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;

  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  background-clip: padding-box;

  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;

  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
  background-clip: padding-box;

  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;

  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}


/*
 * Single Corner
 */

@mixin border-top-right-radius($radius) {
  background-clip: padding-box;

  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-top-left-radius($radius) {
  background-clip: padding-box;

  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-bottom-right-radius($radius) {
  background-clip: padding-box;

  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-bottom-left-radius($radius) {
  background-clip: padding-box;

  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

