.page {
  padding: 20px;

  .title {
  }

  #request__form {
    .input__label {
      display: block;
      padding: 2px 0;
    }

    .input__field {
      margin-bottom: 15px;
    }

    #submit {
      background: white;
      border: 2px solid purple;
      border-radius: 5px;
      color: purple;
      outline: none;
      padding: 5px 10px;
      transition: background 250ms;

      &:hover {
        background: purple;
        color: white;
      }
    }

    #message__response {
      height: 50px;
    }
  }

  .colors {
    button#color__gen {
      display: inline-block;
      background: white;
      border: 2px solid blue;
      border-radius: 5px;
      color: blue;
      outline: none;
      padding: 2px 24px;
      margin-right: 12px;
      transition: border 250ms, color 250ms;
      cursor: pointer;

      &:hover {
        border: 2px solid #aaa !important;
        color: #aaa !important;
      }
    }

    #hex__response {
      display: inline-block;
    }
  }
}
